<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form id="submit" method="POST" action="/show">
        <h1>Todo app</h1>
        <input type="text" id="add" name="item" placeholder="add item" required>
        <button type="submit">Submit</button>
    </form>
    <ul id="lop">
        <% for(let i=0;i<todos.length;i++){ %>
            <li>
                <%= todos[i].item %>
            </li>
            <% } %>
    </ul>
</body>

</html>